<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::section})}">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
	    <section class="layout-content">
	        <div class="page-header">
	            <nav class="navbar navbar-expand-md navbar-top bg-light fixed-top" style="padding: var(--bs-navbar-padding-y) 5%;">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
	                        <li class="nav-item active">
	                            <i class="fa-solid fa-caret-right fa-xl"></i>
	                            <span>Cadastro de Usuários</span>
	                        </li>
	                    </ul>
	                </div>
	                <a class="btn btn-primary btn-md" href="/usuarios/listar" role="button">
	                    <span title="Listar" aria-hidden="true"><i class="fa-solid fa-table-list fa-xl"></i></span>
	                    <span>Listar Usuários</span>
	                </a>
	            </nav>
	        </div>
	        <div class="container" id="cadastro" style="padding-left: 10%;">
				<div th:replace="~{fragments/alert}"></div>
	            <form th:action="${modeloCadastroUsuarioPerfil.usuario == NULL} ? @{/usuarios/novo-usuario} : @{/usuarios/editar}" th:object="${modeloCadastroUsuarioPerfil}" method="POST">
	                <div class="row">
	                    <div class="col-md-6">
	                        <label for="usuario.nomeCompleto">Nome Completo:</label>
	                        <input type="text" class="form-control" id="usuario.nomeCompleto" placeholder="Nome Completo" autofocus="autofocus" th:field="*{usuario.nomeCompleto}" th:classappend="${#fields.hasErrors('usuario.nomeCompleto')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{usuario.nomeCompleto}"></span>
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <label for="usuario.nomeAmigavel">Nome Amigável:</label>
	                        <input type="text" class="form-control" id="usuario.nomeAmigavel" placeholder="Nome Amigável" th:field="*{usuario.nomeAmigavel}" th:classappend="${#fields.hasErrors('usuario.nomeAmigavel')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{usuario.nomeAmigavel}"></span>
	                        </div>
	                    </div>
						<div class="col-md-6">
							<label for="usuario.nomeUser">Nome de Usuário:</label>
							<input type="text" class="form-control" id="usuario.nomeUser" placeholder="Nome Usuário" autofocus="autofocus" th:field="*{usuario.nomeUser}" th:classappend="${#fields.hasErrors('usuario.nomeUser')} ? 'is-invalid'"/>
							<div class="invalid-feedback">
								<span th:errors="*{usuario.nomeUser}"></span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="usuario.senhaUser">Senha:</label>
							<input type="text" class="form-control" id="usuario.senhaUser" placeholder="Senha" th:field="*{usuario.senhaUser}" th:classappend="${#fields.hasErrors('usuario.senhaUser')} ? 'is-invalid'"/>
							<div class="invalid-feedback">
								<span th:errors="*{usuario.senhaUser}"></span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="usuario.observacao">Observação:</label>
							<input type="text" class="form-control" id="usuario.observacao" placeholder="Observação" th:field="*{usuario.observacao}" th:classappend="${#fields.hasErrors('usuario.observacao')} ? 'is-invalid'"/>
							<div class="invalid-feedback">
								<span th:errors="*{usuario.observacao}"></span>
							</div>
						</div>
	                    <div class="col-md-6" style="margin-top: 2.5%;">
	                        <label class="form-check-label" for="usuario.caixaVirtual">Caixa Virtual</label>
	                        <input type="checkbox" class="form-check-input" id="usuario.caixaVirtual" th:field="*{usuario.caixaVirtual}" th:classappend="${#fields.hasErrors('usuario.caixaVirtual')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{usuario.caixaVirtual}"></span>
	                        </div>
	                    </div>
						<table class="table table-striped">
							<thead class="thead-light">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Perfil</th>
								<th scope="col">
									<button type="submit" name="addPerfil" class="btn btn-success">Adicionar Perfil</button>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="perfil,contagem : *{perfisUsuario}">
								<th scope="row" th:text="${contagem.count}">1</th>
								<td>
									<select th:field="*{perfisUsuario[__${contagem.index}__]}" class="form-select">
										<option disabled value="">Selecione...</option>
										<option th:each="p : ${perfis}" th:value="${p.id}" th:text="${p.Nome}"></option>
									</select>
								</td>
								<td>
									<button type="submit" name="removePerfil" th:value="${contagem.index}" class="btn btn-danger">Remover Perfil</button>
								</td>
							</tr>
							</tbody>
						</table>
	                </div>
					<hr class="my-1" style="opacity: 0;">
					<input type="hidden" id="usuario.id" th:field="*{usuario.id}">
	                <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
					<br>
	            </form>
	        </div>
	    </section>
	</body>
</html>