<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::section})}">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
	    <section class="layout-content">
	        <nav class="navbar navbar-expand-md bg-light fixed-top" style="padding: var(--bs-navbar-padding-y) 5%;">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault">
					<span class="navbar-toggler-icon"></span>
				</button>
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav me-auto mb-2 mb-md-0">
	                    <li class="nav-item active">
	                        <i class="fa-solid fa-caret-right fa-xl"></i>
	                        <span th:text="${usuario.nomeAmigavel}" th:object="${usuario}">Nome Usuario</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/usuarios/adicionar-perfil" role="button">
	                    <span title="Cadastro" aria-hidden="true"><i class="fa-solid fa-plus"></i></span>
	                    <span>Adicionar Perfil</span>
	                </a>
	            </div>
	        </nav>
	        <div class="container" style="padding-left: 10%;">
<!--	            <p>-->
<!--					<i class="fa-solid fa-magnifying-glass"></i>-->
<!--	                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNome" aria-controls="collapseNome">Nome</button>-->
<!--	                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCargo" aria-controls="collapseCargo">Cargo</button>-->
<!--	                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseData" aria-controls="collapseData">Datas</button>-->
<!--	            </p>-->
<!--	            <div class="row">-->
<!--	                <div class="col">-->
<!--	                    <div class="collapse" id="collapseNome">-->
<!--	                        <nav class="navbar navbar-light bg-light">-->
<!--	                            <form class="form-inline" method="GET" th:action="@{/funcionarios/buscarPorNome}" style="display: flex; padding-left: 10px;">-->
<!--	                                <input class="form-control mr-sm-2" type="search" placeholder="Nome" aria-label="Search" th:name="nome" style="margin-right: 5px;"/>-->
<!--	                                <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>-->
<!--	                            </form>-->
<!--	                        </nav>-->
<!--	                    </div>-->
<!--	                </div>-->
<!--	            </div>-->
<!--	            <div class="row">-->
<!--	                <div class="col">-->
<!--	                    <div class="collapse" id="collapseCargo">-->
<!--	                        <nav class="navbar navbar-light bg-light">-->
<!--	                            <form class="form-inline" method="GET" th:action="@{/funcionarios/buscarPorCargoId}" style="display: flex; padding-left: 10px;">-->
<!--	                                <select class="form-select mr-sm-2" th:name="cargoId" aria-label="Search" style="margin-right: 5px;">-->
<!--	                                    <option value="">Perfil</option>-->
<!--	                                    <option th:each="c : ${perfis}" th:value="${c.id}" th:text="${c.nome}">NomePerfil</option>-->
<!--	                                </select>-->
<!--	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>-->
<!--	                            </form>-->
<!--	                        </nav>-->
<!--	                    </div>-->
<!--	                </div>-->
<!--	            </div>-->
<!--	            <div class="row">-->
<!--	                <div class="col">-->
<!--	                    <div class="collapse" id="collapseData">-->
<!--	                        <nav class="navbar navbar-light bg-light">-->
<!--	                            <form class="form-inline" method="GET" th:action="@{/funcionarios/buscarPorDatas}" style="display: flex; padding-left: 10px;">-->
<!--	                                <input class="form-control mr-sm-2" type="date" aria-label="Search" th:name="dataEntrada" style="margin-right: 5px;"/>-->
<!--	                                <input class="form-control mr-sm-2" type="date" aria-label="Search" th:name="dataSaida" style="margin-right: 5px;"/>-->
<!--	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>-->
<!--	                            </form>-->
<!--	                        </nav>-->
<!--	                    </div>-->
<!--	                </div>-->
<!--	            </div>-->
	            <div class="table-responsive">
					<div th:replace="~{fragments/alert}"></div>
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
							<tr>
								<th>#</th>
								<th th:text="#{tabela.usuario.col.nomeSistema}"></th>
								<th th:text="#{tabela.usuario.col.nomePerfil}"></th>
								<th th:text="#{tabela.usuario.col.descricaoPerfil}"></th>
								<th th:text="#{tabela.usuario.col.acao}"></th>
							</tr>
	                    </thead>
	                    <tbody>
							<tr th:each="p : ${perfis}">
								<td th:text="${p.id}">Id</td>
								<td th:text="${p.sistema.nome}">Nome Sistema</td>
								<td th:text="${p.nome}">Nome</td>
								<td th:text="${p.descricao}|">Descricao</td>
								<td colspan="2">
									<button th:id="${#strings.concat('btn_funcionarios/deletar/', p.id)}" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal">
										<span title="Excluir" aria-hidden="true"><i class="fa-regular fa-circle-xmark"></i></span>
									</button>
								</td>
							</tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
			<div th:replace="~{fragments/modal :: modal}"></div>
	    </section>
	</body>
</html>		