<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::main})}">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<main role="main" class="flex-shrink-0">
			<div class="container" id="cadastro">
				<h1 class="display-4">Cadastro de novo Perfil</h1>
				<div th:replace="~{fragments/alert}"></div>
	            <form th:action="@{/perfis/novo-perfil}" th:object="${modeloCadastroPerfilPermissao}" method="POST">
	                <div class="row">
	                    <div class="col-md-6">
	                        <label class="form-label" for="nome">Nome:</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Perfil" autofocus="autofocus" th:field="*{perfil.Nome}" th:classappend="${#fields.hasErrors('perfil.Nome')} ? 'is-invalid'"/>
							<div class="invalid-feedback">
								<span th:errors="*{perfil.Nome}"></span>
							</div>
	                    </div>
						<div class="col-md-6">
							<label class="form-label" for="descricao">Descrição:</label>
							<input type="text" class="form-control" id="descricao" placeholder="Descricao Perfil" autofocus="autofocus" th:field="*{perfil.descricao}" th:classappend="${#fields.hasErrors('perfil.descricao')} ? 'is-invalid'"/>
							<div class="invalid-feedback">
								<span th:errors="*{perfil.descricao}"></span>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label" for="sistema">Sistema:</label>
							<select id="sistema" class="form-select" th:field="*{perfil.sistema}" th:classappend="${#fields.hasErrors('perfil.sistema')} ? 'is-invalid'">
								<option value="" selected disabled>Selecione...</option>
								<option th:each="s : ${sistemas}" th:value="${s.id}" th:text="${s.nome}">Sistemas</option>
							</select>
							<div class="invalid-feedback">
								<span th:errors="*{perfil.sistema}"></span>
							</div>
						</div>
						<table class="table table-striped">
							<thead class="thead-light">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Permissão</th>
								<th scope="col">
									<button class="btn btn-success" type="submit" name="addPermissao">Adicionar Permissão</button>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="permissao,contagem : *{permissoesPerfil}">
								<th scope="row" th:text="${contagem.count}">1</th>
								<td>
									<select th:field="*{permissoesPerfil[__${contagem.index}__]}" class="form-select">
										<option selected value="">Selecione...</option>
										<option th:each="p : ${permissoes}" th:value="${p.id}" th:text="${p.nome}"></option>
									</select>
								</td>
								<td>
									<button class="btn btn-danger" type="submit" name="removePermissao" th:value="${contagem.index}">Remover Permissão</button>
								</td>
							</tr>
							</tbody>
						</table>
	                </div>
					<hr class="my-1" style="opacity: 0;">
					<input type="hidden" id="perfil.id" th:field="*{perfil.id}">
					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-primary">Adicionar</button>
						<a class="btn btn-secondary" th:href="@{/perfis/listar}" role="button">Voltar</a>
					</div>
	            </form>
	        </div>
	    </main>
	</body>
</html>		