<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::main})}">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<main role="main" class="flex-shrink-0">
			<div class="container" id="cadastro">
				<h1 class="display-4">Cadastro de novo Perfil</h1>
				<div th:replace="~{fragments/alert}"></div>
	            <form id="form-perfil" th:action="@{/perfis/novo-perfil}" th:object="${modeloCadastroPerfilPermissao}" method="POST">
	                <div class="row">
	                    <div class="col-md-6">
	                        <label class="form-label" for="nome">Nome:</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Perfil" autofocus="autofocus" th:field="*{perfil.Nome}" th:classappend="${#fields.hasErrors('perfil.Nome')} ? 'is-invalid'"/>
							<div class="invalid-feedback">
								<span th:errors="*{perfil.Nome}"></span>
							</div>
	                    </div>
						<div class="col-md-6">
							<label class="form-label" for="descricao">Descrição:</label>
							<input type="text" class="form-control" id="descricao" placeholder="Descricao Perfil" autofocus="autofocus" th:field="*{perfil.descricao}" th:classappend="${#fields.hasErrors('perfil.descricao')} ? 'is-invalid'"/>
							<div class="invalid-feedback">
								<span th:errors="*{perfil.descricao}"></span>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label" for="sistema">Sistema:</label>
							<select id="sistema" class="form-select" th:field="*{perfil.sistema}" th:classappend="${#fields.hasErrors('perfil.sistema')} ? 'is-invalid'">
								<option value="" selected>Selecione...</option>
								<option th:each="s : ${sistemas}" th:value="${s.id}" th:text="${s.nome}">Sistemas</option>
							</select>
							<div class="invalid-feedback">
								<span th:errors="*{perfil.sistema}"></span>
							</div>
						</div>
						<div class="col-md-6"></div>
						<br><br><br><br>
						<div class="col">
							<div class="row checks-cadastro-vinculos">
								<div class="col">
									<ul id="coluna-1" class="ul-check-vinculos">

									</ul>
								</div>
								<div class="col">
									<ul id="coluna-2" class="ul-check-vinculos">

									</ul>
								</div>
							</div>
						</div>
	                </div>
					<hr class="my-1" style="opacity: 0;">
					<input type="hidden" id="perfil.id" th:field="*{perfil.id}">
					<input type="hidden" id="permissoesPerfil" th:field="*{permissoesPerfil}">
					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-primary">Adicionar</button>
						<a class="btn btn-secondary" th:href="@{/perfis/listar}" role="button">Voltar</a>
					</div>
	            </form>
	        </div>
	    </main>
	</body>
</html>		