<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::main})}">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<main role="main" class="flex-shrink-0">
	        <div class="container text-center" id="listagem">
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<a class="btn btn-primary" role="button" th:href="@{/perfis/cadastrar}">Adicionar novo Perfil</a>
				</div>
				<br>
				<div th:replace="~{fragments/alert}"></div>
				<br>
				<h1 class="display-4">Listagem de Perfis</h1>
				<table class="table table-striped table-hover" id="table-perfis">
					<thead>
						<tr>
							<th>#</th>
							<th>Perfil</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${perfis}">
							<td th:text="${p.id}">Id</td>
							<td>
								<a th:href="@{/perfis/listar-especifico/{id} (id=${p.id})}" th:text="${p.nome}">Nome</a>
							</td>
							<td>
								<div class="btn-group" role="group" aria-label="Ações">
									<a class="btn btn-info btn-sm" th:href="@{/perfis/preEditar/{id} (id=${p.id})}" role="button">
										<span title="Editar" aria-hidden="true"><i class="fa-solid fa-pencil"></i></span>
									</a>
									<button th:id="${#strings.concat('btn_perfis/deletar/', p.id)}" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal">
										<span aria-hidden="true"><i class="fa-regular fa-circle-xmark"></i></span>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
	        </div>
			<div th:replace="~{fragments/modal :: modal}"></div>
	    </main>
	</body>
</html>		