<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
    <nav class="sidebar sidebar-open" th:fragment="nav-sidebar" style="position: fixed;">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">
            <i class="fa-sharp fa-solid fa-house fa-xl"></i> <span th:text="#{sidebar.link.home}"></span>
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span class="nav-link active" th:text="#{sidebar.titulo.permissoes}"></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/permissoes/cadastrar}">
            <i class="fa-sharp fa-solid fa-plus fa-xl"></i> <span th:text="#{sidebar.link.cadastrar}"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/permissoes/listar}">
            <i class="fa-solid fa-table-list fa-xl"></i> <span th:text="#{sidebar.link.listar}"></span>
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span class="nav-link active" th:text="#{sidebar.titulo.perfis}"></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/perfis/cadastrar}">
            <i class="fa-sharp fa-solid fa-plus fa-xl"></i> <span th:text="#{sidebar.link.cadastrar}"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/perfis/listar}">
            <i class="fa-solid fa-table-list fa-xl"></i> <span th:text="#{sidebar.link.listar}"></span>
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span class="nav-link active" th:text="#{sidebar.titulo.usuarios}"></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/usuarios/cadastrar}">
            <i class="fa-sharp fa-solid fa-plus fa-xl"></i> <span th:text="#{sidebar.link.cadastrar}"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/usuarios/listar}">
            <i class="fa-solid fa-table-list fa-xl"></i> <span th:text="#{sidebar.link.listar}"></span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>