html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    height: -webkit-fill-available;
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.checks-usuarios {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}


.ul-check-usuarios {
    list-style: none;
    padding: 0;
    padding-left: 25%;
}

li {
    margin-bottom: 10px;
}