<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::main})}">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<main role="main" class="flex-shrink-0">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active" id="apresentacao-si-admin" data-bs-toggle="list" href="#si-admin" role="tab" aria-controls="spring-boot">SI-Admin</a>
						<a class="list-group-item list-group-item-action" id="manual-uso-permissoes" data-bs-toggle="list" href="#permissoes" role="tab" aria-controls="sts">Uso das permissões</a>
						<a class="list-group-item list-group-item-action" id="manual-uso-perfis" data-bs-toggle="list" href="#perfis" role="tab" aria-controls="thymeleaf">Uso dos perfis</a>
						<a class="list-group-item list-group-item-action" id="manual-uso-usuarios" data-bs-toggle="list" href="#usuarios" role="tab" aria-controls="webjars">Uso dos usuários</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="si-admin" role="tabpanel" aria-labelledby="apresentacao-si-admin">
							A aplicação <code>SI-Admin</code> é um sistema de gerenciamento de permissões e acesso que foi projetado para garantir a segurança e o controle preciso de informações no ambiente de trabalho. Seu propósito principal é permitir que o cartório tenha um controle granular sobre quais funcionalidades e dados cada usuário pode acessar.<br>
							<br>
							Neste sistema, existem três principais entidades:<br>
							<br>
							1. <strong>Usuários:</strong> Representam as pessoas individuais que fazem parte da organização. Cada usuário possui um identificador único e é autenticado no sistema por meio de credenciais específicas, sua senha.<br>
							<br>
							2. <strong>Perfis:</strong> Os perfis são conjuntos predefinidos de permissões que determinam as ações e os recursos que um usuário pode acessar dentro do sistema. Cada perfil é cuidadosamente configurado para refletir um papel ou responsabilidade específica dentro da organização. Por exemplo, pode haver perfis como <code>Administrador</code>, <code>Funcionário</code>, <code>Gerente de Projeto</code>, etc.<br>
							<br>
							3. <strong>Permissões:</strong> As permissões são atributos que definem as ações que um usuário pode realizar em relação a recursos específicos. Esses recursos podem incluir funcionalidades da aplicação, dados ou outros ativos digitais. Exemplos de permissões incluem <code>Leitura de Documentos</code>, <code>Escrita em Bancos de Dados</code>, <code>Gerenciamento de Usuários</code>, etc.<br>
							<br>
							A arquitetura de controle de permissões do SI-Admin funciona da seguinte forma:<br>
							<br>
							- Cada <code>usuário</code> é associado a um ou mais <code>perfis</code>. Essa associação permite que o <code>usuário</code> herde todas as <code>permissões</code> concedidas por esses <code>perfis</code>.<br>
							- A combinação de <code>perfis</code> associados a um <code>usuário</code> define o conjunto completo de <code>permissões</code> disponíveis para aquele usuário. Isso garante que cada indivíduo tenha acesso apenas às funcionalidades e aos dados relevantes para sua função dentro da organização.<br>
							<br>
							Os administradores do <code>SI-Admin</code> têm total controle sobre os <code>perfis</code> e as <code>permissões</code>. Eles podem criar novos <code>perfis</code> para atender às necessidades específicas da organização, bem como personalizar permissões individuais dentro desses perfis. Além disso, eles podem adicionar ou remover <code>usuários</code> de <code>perfis</code> conforme necessário, permitindo um gerenciamento flexível e ágil das autorizações.<br>
							<br>
							Essa abordagem cuidadosamente planejada para controle de acesso fornece uma camada adicional de segurança, evitando que usuários não autorizados acessem informações confidenciais ou executem ações que não estão dentro de sua alçada. Ao garantir que apenas as pessoas certas tenham acesso a informações críticas, o SI-Admin contribui para a proteção dos ativos digitais e a integridade das operações organizacionais.<br>
							<br>

						</div>
						<div class="tab-pane fade" id="permissoes" role="tabpanel" aria-labelledby="manual-uso-permissoes">
							A entidade <code>Permissao</code> é responsável por representar as diferentes permissões que podem ser atribuídas a perfis de usuários. Essas permissões definem quais ações e recursos um perfil pode acessar dentro do sistema.<br>
							<br>
							<strong>Criando uma Nova Permissão:</strong><br>
							Para criar uma nova <code>permissão</code>, começamos definindo um nome significativo para identificar essa <code>permissão</code> específica. Em seguida, adicionamos uma descrição que detalha o que essa permissão permite realizar no sistema.<br>
							<br>
							<strong>Associando a Permissão a um Sistema:</strong><br>
							Cada <code>permissão</code> deve ser associada a um <code>sistema</code> específico. Isso permite que a permissão seja aplicada somente onde for relevante.<br>
							<br>
							<strong>Permissões Hierárquicas:</strong><br>
							A entidade <code>Permissao</code> também suporta permissões hierárquicas. Cada <code>permissão</code> pode ter uma <code>permissão superior</code> associada a ela, o que cria uma estrutura hierárquica de permissões. Essa abordagem permite criar dependências e restrições para ações mais avançadas, garantindo que sejam executadas apenas se a permissão superior for concedida.<br>
							<br>
							<strong>Mnemônico:</strong><br>
							O atributo <code>mnemonico</code> é outro aspecto importante da entidade <code>Permissao</code>. O <code>mnemônico</code> é uma representação abreviada ou código curto que pode ser associado a uma permissão. Ele é útil para identificar rapidamente a permissão de forma concisa e eficiente, especialmente quando se lida com um grande número de permissões diferentes.<br>
							<br>
							<strong>Excluindo uma Permissão:</strong><br>
							Caso uma <code>permissão</code> precise ser temporariamente desativada, podemos removê-la do sistema entrando na página de listagem de permissões e clicando no botão de exclusão (<span aria-hidden="true" class="btn btn-danger btn-sm"><i class="fa-regular fa-circle-xmark"></i></span>). Isso automaticamente desvincula os perfis associados à permissão.<br>
							<br>
							<strong>Benefícios da Manipulação de Permissões:</strong><br>
							Ao utilizar a entidade <code>Permissao</code>, nosso sistema ganha uma flexibilidade significativa no controle de acesso. Podemos definir permissões específicas para ações precisas e criar dependências hierárquicas para garantir uma operação mais segura e organizada.<br>
							<br>
							Em resumo, a entidade <code>Permissao</code> é um componente crucial do nosso sistema de controle de acesso. Ela nos permite criar, editar e gerenciar as permissões concedidas aos perfis de usuários, definindo quais ações e recursos estão disponíveis para cada perfil. Dessa forma, garantimos que apenas as ações necessárias sejam realizadas e mantemos o ambiente seguro e bem estruturado.<br>
							<br>
						</div>
						<div class="tab-pane fade" id="perfis" role="tabpanel" aria-labelledby="manual-uso-perfis">
							A entidade <code>Perfil</code> representa um tipo de papel ou função dentro do nosso sistema. Esses perfis são utilizados para controlar o que cada usuário pode fazer e acessar.<br>
							<br>
							<strong>Criando um Novo Perfil:</strong><br>
							Para criar um novo <code>perfil</code>, acesse a página de cadastro para preencher o formulário de criação. Primeiro definimos um nome para identificá-lo, em seguida, adicionamos uma descrição que explica suas responsabilidades e permissões. Cada <code>perfil</code> deve ser associado a um <code>sistema</code> específico, garantindo que suas permissões sejam aplicadas apenas onde são necessárias.<br>
							<br>
							<strong>Editando um Perfil Existente:</strong><br>
							Se precisarmos modificar as informações de um <code>perfil</code>, podemos editar seu nome, descrição ou a qual sistema ele está associado entrando na página de listagem de perfis e clicando no botão de edição (<span title="Editar" aria-hidden="true" class="btn btn-info btn-sm"><i class="fa-solid fa-pencil"></i></span>). Essas alterações garantem que os perfis se adaptem às necessidades em constante mudança do nosso sistema e da organização.<br>
							<br>
							<strong>Excluindo um Perfil:</strong><br>
							Caso um <code>perfil</code> não seja mais necessário, podemos removê-lo do sistema entrando na página de listagem de perfis e clicando no botão de exclusão (<span aria-hidden="true" class="btn btn-danger btn-sm"><i class="fa-regular fa-circle-xmark"></i></span>). Isso garantirá que os usuários não possam mais ser associados a esse perfil, mantendo a integridade do controle de acesso.<br>
							<br>
							<strong>Benefícios da Manipulação de Perfis:</strong><br>
							Ao utilizar a entidade <code>Perfil</code>, nosso sistema ganha uma camada de segurança, garantindo que cada usuário possa acessar apenas as funcionalidades e informações necessárias para realizar suas tarefas. Isso previne o acesso indevido a dados sensíveis e protege a privacidade das informações.<br>
							<br>
							Em resumo, a entidade <code>Perfil</code> desempenha um papel fundamental no controle de acesso do nosso sistema. Ela nos permite criar, editar e excluir diferentes perfis para personalizar as permissões de cada usuário, garantindo uma operação segura e organizada do sistema como um todo.<br>
							<br>
						</div>
						<div class="tab-pane fade" id="usuarios" role="tabpanel" aria-labelledby="manual-uso-usuarios">
							A entidade <code>Usuario</code> representa os indivíduos que têm acesso ao nosso sistema. Cada usuário é identificado por um identificador único e possui diversas informações que contribuem para o controle e a personalização de suas interações no sistema.<br>
							<br>
							<strong>Nome Completo e Nome Amigável:</strong><br>
							O atributo <code>nomeCompleto</code> armazena o nome completo do usuário, enquanto o atributo <code>NomeAmigavel</code> permite que um nome mais amigável ou apelido seja associado ao usuário. Essa abordagem ajuda a identificar e diferenciar os usuários de maneira clara e personalizada.<br>
							<br>
							<strong>Nome de Usuário e Senha:</strong><br>
							Os atributos <code>nomeUser</code> e <code>senhaUser</code> são utilizados para armazenar o nome de usuário e a senha de cada usuário, respectivamente. Essas informações são fundamentais para autenticar o usuário no sistema e garantir que apenas usuários autorizados tenham acesso.<br>
							<br>
							<strong>Usuário Caixa Virtual:</strong><br>
							O atributo <code>caixaVirtual</code> permite que determinemos se o usuário tem acesso à <code>caixa virtual</code>.<br>
							<br>
							<strong>Observação:</strong><br>
							O atributo <code>observacao</code> oferece um espaço para adicionar comentários ou informações adicionais sobre cada usuário. Isso pode ser útil para incluir detalhes relevantes sobre o usuário que podem auxiliar na gestão e no controle de acesso.<br>
							<br>
							<strong>Associando Perfis aos Usuários:</strong><br>
							Para controlar o acesso de cada <code>usuário</code>, associamos um ou mais <code>perfis</code> a eles. Cada <code>perfil</code> contém um conjunto específico de permissões que definem quais partes do sistema o usuário pode utilizar. Ao associar múltiplos perfis, podemos personalizar o acesso para atender às funções específicas de cada usuário.<br>
							<br>
							<strong>Benefícios da Entidade <code>Usuario:</code></strong><br>
							A entidade <code>Usuario</code> nos permite gerenciar de forma individualizada as informações e permissões de cada usuário em nosso sistema. Com essa estrutura, podemos autenticar e personalizar a experiência de cada usuário, garantindo que ele tenha acesso apenas ao que é necessário e relevante para suas responsabilidades e funções.<br>
							<br>
							Em resumo, a entidade <code>Usuario</code> é uma parte fundamental do nosso sistema de controle de acesso. Ela nos permite armazenar, autenticar e personalizar as interações de cada usuário, além de controlar seu acesso a recursos específicos e manter suas informações de forma organizada e segura.<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>